body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: rgb(41,19,55);
    background: linear-gradient(98deg, rgba(41,19,55,1) 0%, rgba(66,19,35,1) 100%);
}

h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto 20px;
}

form 
{
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    background: rgb(107,38,65);
    background: linear-gradient(98deg, rgba(107,38,65,1) 0%, rgba(102,81,140,1) 100%);
}

input[type="password"] 
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] 
{
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background: rgb(66,1,40);
    background: linear-gradient(98deg, rgba(66,1,40,1) 0%, rgba(59,42,135,1) 100%);
}

input[type="submit"]:hover 
{
    /* background-color: #1a421c; */
    background: rgb(135,79,108);
    background: linear-gradient(98deg, rgba(135,79,108,1) 0%, rgba(156,176,254,1) 100%);
}

p 
{
    /* color: #5568f3; */
    color: yellow;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
}
